
<p>
  <strong>User:</strong>
  <%= comment.user %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%if current_user.try(:admin?)%>
  <a><%= link_to 'Destroy Comment', [comment.blogpost, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></a>
  <%end%>
</p>