<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p> This is the blog's homepage </p>
    <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
<h1>Hello, Rails!</h1>
<%= link_to 'Our Blog', controller: 'blogposts' %>
