<!DOCTYPE html>
<head>
	<title>RiddleBeans: Our Team</title>
	<style>

		*:focus {
    		outline: none;
		}


		.footer p {
			color: black;
			position: absolute;
			bottom: 0;
		}


		body {
			background-color: rgb(225,225,225);
		}

		h1 {
		    font-family: playfair display;
		    font-size: 16pt;
		    font-weight: bold;
		}

		p { 
			font-family: raleway;
			color: rgb(56,56,56);
			font-size: 10pt;
		}

		a {
			color: black;
			text-align: center;
			font-family: alegreya;
			font-weight: none;
			text-decoration: none;
			display: block;
			width: 90pt;
			font-size: 13.5pt;
		}

		a:hover {
  			color: #E30613;
  			background-color: none;
		}

		#one img {
			border-radius: 50%;
			background-position: left;
			background-repeat: no-repeat;
			opacity: 0.6;

		}

		#one img:hover{
			opacity: 1.0;
		}

		#two img {
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.6;
		}

		#two img:hover{
			opacity: 1.0;
		}

		#three img {
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.6;
		}

		#three img:hover{
			opacity: 1.0;
		}

		#four img {
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.6;
		}

		#four img:hover{
			opacity: 1.0;
		}



		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: fixed;
			top: 50pt;
			right: 0.5pt;
			position: absolute;
		}

		li {
			float: right;
		}
	</style>
</head>
<body>
	
	
	<div id="lside" style="float:left;margin:0; width: 8%">
	<br><br>
	</div>

	<div id="one" style="float:left;margin:0; width: 23%">
		<a href="Haya.html"><img src="http://i.imgur.com/80mojPK.jpg" width="185" height: auto;></a>
	<br><br>
		<a href="Marina.html"><img src="http://i.imgur.com/Ppd0XUB.jpg" width="185" height: auto;>
	</div>

	<div id="two" style="float:left;margin:0;width:23%">
		<a href="Christianne.html"><img src="http://i.imgur.com/Y3p1i5G.png" width="185" height: auto;></a>
	<br><br>
		<a href="Amr.html"><img src="http://i.imgur.com/zWJ7efo.jpg" width="185" height: auto;>
	</div>

	<div id="three" style="float:left;margin:0;width:23%">
		<a href="Seif.html"><img src="http://i.imgur.com/0IZ2Udth.jpg" width="185" height: auto;></a>
	<br><br>
		<a href="Sandra.html"><img src="http://i.imgur.com/u5LzxQn.jpg" width="185" height: auto;>
	</div>

	<div id="four" style="float:left;margin:0;width:23%">
		<a href="Sara.html"><img src="http://i.imgur.com/SCV2Kth.jpg" width="185" height: auto;></a>
	<br><br>
		<a href="Omar.html"><img src="http://i.imgur.com/2dzX5yl.jpg" width="185" height: auto;>
	</div>

	<div class="footer">
 	<p>&copy;2015 RiddleBeans</p>
 	</div>
 	
</body>