<p>
  <strong>Title:</strong>
  <%= @blogpost.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blogpost.text %>
</p>
<h2>Comments</h2>
<%= render @blogpost.comments %>
 

<style>

a {
text-align: center;
}




</style>




<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>


<a class="twitter-share-button"
  href="https://twitter.com/share">Tweet</a>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}
(document,"script","twitter-wjs"));
</script><script src="https://apis.google.com/js/platform.js" async defer></script>
<g:plus action="share"></g:plus>