<p>
  <strong>Title:</strong>
  <%= @blogpost.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blogpost.text %>
</p>

<%= link_to 'Back', blogposts_path %>
<%= link_to 'Edit', edit_blogpost_path(@blogpost) %>